@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@media (prefers-color-scheme: light) {
  :root {
    --rosewater: #dc8a78;
    --flamingo: #dd7878;
    --pink: #ea76cb;
    --mauve: #8839ef;
    --red: #d20f39;
    --maroon: #e64553;
    --peach: #fe640b;
    --yellow: #df8e1d;
    --green: #40a02b;
    --teal: #179299;
    --sky: #04a5e5;
    --sapphire: #209fb5;
    --blue: #1e66f5;
    --lavender: #7287fd;
    --text: #4c4f69;
    --subtext1: #5c5f77;
    --subtext0: #6c6f85;
    --overlay2: #7c7f93;
    --overlay1: #8c8fa1;
    --overlay0: #9ca0b0;
    --surface2: #acb0be;
    --surface1: #bcc0cc;
    --surface0: #ccd0da;
    --base: #eff1f5;
    --mantle: #e6e9ef;
    --crust: #dce0e8;
    --background-img: url("./assets/bg-light.svg");
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --rosewater: #f5e0dc;
    --flamingo: #f2cdcd;
    --pink: #f5c2e7;
    --mauve: #cba6f7;
    --red: #f38ba8;
    --maroon: #eba0ac;
    --peach: #fab387;
    --yellow: #f9e2af;
    --green: #a6e3a1;
    --teal: #94e2d5;
    --sky: #89dceb;
    --sapphire: #74c7ec;
    --blue: #89b4fa;
    --lavender: #b4befe;
    --text: #cdd6f4;
    --subtext1: #bac2de;
    --subtext0: #a6adc8;
    --overlay2: #9399b2;
    --overlay1: #7f849c;
    --overlay0: #6c7086;
    --surface2: #585b70;
    --surface1: #45475a;
    --surface0: #313244;
    --base: #1e1e2e;
    --mantle: #181825;
    --crust: #11111b;
    --background-img: url("./assets/bg-dark.svg");
  }
}

* {
  color: var(--text);
  font-family:
    JetBrains Mono,
    monospace;
  word-wrap: break-word;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-image: var(--background-img);
  background-size: 50vh;
  background-attachment: fixed;
  background-color: var(--base);
  min-height: 100vh;
}

#title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#title>h1 {
  font-weight: 800;
  font-size: 10vh;
}

#title>#search>input,
#title>#search>i {
  font-size: 5vh;
}

#shortcuts {
  display: flex;
  position: sticky;
  bottom: 2vh;
  flex-direction: row;
  gap: 2vw;
  margin: 0 4vw 0 4vw;
  border-radius: 5vh;
  background: var(--base);
  padding: 1vh 2vw 1vh 2vw;
}

#shortcuts>a {
  color: var(--text);
  font-size: 2vh;
  text-decoration: none;
}

.fill {
  flex: 1;
}
