#title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

#title > h1 {
  font-weight: 800;
  font-size: 100px;
  line-height: 1rem;
}
