.section>h2 {
  position: sticky;
  top: calc(4vh + 1rem);
  background: var(--base);
}

.tbls {
  display: flex;
  flex-direction: row;
  gap: 2vw;
}

.tbls>table {
  display: flex;
  flex: 1;
  border-collapse: collapse;
  padding: 1vh 1vw 1vh 1vw;
}

tr:nth-child(even) {
  background-color: var(--surface0);
}

td:nth-child(1) {
  flex: 1;
}

kbd {
  border: 0.1vh solid var(--crust);
  background: var(--base);
  padding: 0.2vh;
}
