* {
  color: var(--text);
  font-family:
    JetBrains Mono,
    monospace;
  word-wrap: break-word;
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  transition: 0s linear;
  transition-property: background-position;
  margin: 0;
  background-image: var(--background-img);
  background-position: 50% 0%;
  background-size: 500px;
  background-attachment: fixed;
  background-color: var(--base);
  padding: 0;
  min-height: 100vh;
}

.fill {
  flex: 1;
}

.card {
  margin: 0 4vw;
  border: 5px solid var(--crust);
  border-radius: 1vh;
  background: var(--base);
  padding: 2vw;
}
