#title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

#title>h1 {
  font-weight: 800;
  font-size: 100px;
  line-height: 1rem;
}

#title>form {
  display: flex;
  border: 0.8vh solid var(--crust);
  border-radius: 1vh;
  overflow: hidden;
}

#title>form>input {
  border: none;
  background: var(--base);
  padding: 0.8vh 1vw 0.8vh 1vw;
  width: min(1000px, 80vw);
  color: var(--text);
  font-size: 20px;
}

#title>form>button {
  border: none;
  background: var(--base);
  padding: 0.8vh 1vw 0.8vh 1vw;
  font-size: 20px;
}
