#title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#title>h1 {
  font-weight: 800;
  font-size: 10vh;
}

#title>form {
  display: flex;
  border: 5px solid var(--crust);
  border-radius: 1vh;
  overflow: hidden;
}

#title>form>input {
  border: none;
  background: var(--base);
  padding: 0.8vh 1vw 0.8vh 1vw;
  width: 50vw;
  color: var(--text);
  font-size: 2vh;
}

#title>form>button {
  border: none;
  background: var(--base);
  padding: 0.8vh 1vw 0.8vh 1vw;
  font-size: 2.5vh;
}
