#quick-links {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  flex-direction: column;
  justify-content: center;
  transform: translate(-50%, -50%);
  visibility: hidden;
  z-index: 100;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  border: 0.8vh solid var(--crust);
  border-radius: 1vh;
  background: var(--base);
  padding: 2vh;
}

#quick-links>a {
  color: var(--text);
  font-size: 20px;
  text-decoration: none;
}
