.card {
  margin: 2vh 4vw;
  border: 5px solid var(--crust);
  border-radius: 1vh;
  background: var(--base);
  padding: 2vw;
}

.shortcuts>h2 {
  position: sticky;
  top: 40px;
  background: var(--base);
  font-size: 70px;
}
