.card {
  margin: 2vh 4vw;
  border: 0.8vh solid var(--crust);
  border-radius: 1vh;
  background: var(--base);
  padding: 2vw;
}

.shortcuts {
  display: flex;
  flex-direction: column;
  width: 80vw;
}

.tbls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2vw;
}

.tbl-group {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  /* border: 0.8vh solid var(--crust); */
  /* border-radius: 1vh; */
  /* background: var(--surface0); */
  /* padding: 1vh 1vw; */
}

.shortcuts>h2 {
  position: sticky;
  top: 0;
  z-index: 10;
  margin: 0;
  background: var(--base);
  padding: 0;
  overflow-x: hidden;
  font-size: 5rem;
}

.shortcuts>h3 {
  position: sticky;
  top: 6rem;
  z-index: 8;
  margin: 10vh 0 0 0;
  background: var(--base);
  padding: 0;
  font-size: 3rem;
}

.tbls>.tbl-group>h4 {
  margin: 0;
  padding: 0;
  font-size: 2rem;
}

.tbls>*>table {
  border-collapse: collapse;
  font-size: 20px;
}

.tbls>*>table>thead>tr>th {
  background: var(--lavender);
  color: var(--crust);
  text-align: left;
}

.tbls>*>table :is(th, td) {
  padding: 1vh 1vw;
}

.tbls>*>table>tbody>tr:nth-child(odd) {
  background: var(--surface0);
}

kbd {
  border-radius: 0.5vh;
  background: var(--overlay2);
  padding: 0.2vh 0.8vw;
  color: var(--crust);
  font-weight: 500;
}
